<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.kr.crystalstudio.keepinmindcalendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="co.kr.crystalstudio.keepinmindcalendar.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_keepinmindcalendar_lightbulb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_keepinmindcalendar_lightbulb_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeepInMind"
        android:usesCleartextTraffic="true">
        <activity
            android:name="co.kr.crystalstudio.keepinmindcalendar.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.kr.crystalstudio.keepinmindcalendar.LoginActivity" />
        <activity android:name="co.kr.crystalstudio.keepinmindcalendar.RegisterActivity" />
        <activity android:name="co.kr.crystalstudio.keepinmindcalendar.EventEditActivity" />
        <activity android:name="co.kr.crystalstudio.keepinmindcalendar.WeekViewActivity" />
        <activity android:name="co.kr.crystalstudio.keepinmindcalendar.MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao0aee7527829b1dd41d48579dc4246c6b" />
            </intent-filter>
        </activity>
    </application>

</manifest>